doctype html
html
    head
        title Node.js, Twitter Stream, Socket.io
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="http://code.jquery.com/jquery-1.9.1.min.js")
        script(src="components/socket.io-client/dist/socket.io.min.js")
        script(src="/javascripts/script2.js")
    body
        .container
            .header
                h1 Welcome to Columbia Stream
                small 
                    | Tracks mentions of Columbia University on Twitter.
                small
                    i
                        | Last updated:
                        span(id="last-update") Never
                small
                    | Current time:
                    span(id="current-time") Now
                span(id="test")
        .tweets
        .new-tweet
            p New tweets will appear here.
