<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex">
  
    <title>Socialbookie</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <style id="holderjs-style" type="text/css">.holderjs-fluid {font-size:16px;font-weight:bold;text-align:center;font-family:sans-serif;margin:0}</style></head>
  
  <body style="">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=""><img src="{{url_for('static', filename='logo2.png')}}" width = "250" height = "60" style="position:relative;"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/#">Return to Top</a></li>
            <li><a href="/#AboutApp">About</a></li>
            <li><a href="/#LinkHowWorks">How to Play</a></li>
            <li><a href="/#About">The Team</a></li>
          </ul>
          <form name="FrmSignupTop" action="http://www.coin-out.com/signup.php" class="navbar-form navbar-right">
            <a data-toggle="modal" class="btn btn-success" href="/#FrmSignup">Sign up</a>
          </form>
        </div><!--/.navbar-collapse --> 
      </div>
    </div>

    <!-- Carousel
    ================================================== -->
    <div class="containerFull" style="background-color:#0969A2;">
    <div class="container">
  <br>
  <h1>Revolutionizing social gaming.</h1>
  <br>
  <div class="row">
    <div class="col-md-4"></div>
     <div class="col-md-4">
      <div class = "row-md-4"></div>
  <center><img src="{{ url_for('static', filename='phone2.png') }}" width = "260" height = "500"></center>
</div>
 <div class="col-md-4">
  
</div>
  
</div>
<br>
  <br>
    </div> <!-- /container -->
    </div> <!-- /containerFull -->


    <div class="containerFull" style="background-color:#64A8D1;">
    <div class="container">
  <br>
  <h1>About</h1>
  <br>
  <h4>
    How many times have you heard your friend post a picture to Instagram and immediately say, "How many likes do you think it will get? I bet at least 20"? Or that one time when you thought you posted the perfect photo, only to get zero likes... Do you have the ability to determine if a photo is epic or just another selfie?

    When your friends post a photo on Instagram, users will be able to guess how (un)popular that photo will be. Bet virtual currency on how many likes you think your friends' photos will get. The closer you get, the more you win!

    Socialbookie provides the platform for the guessing game we all have been playing verbally since the advent of the "Like". The Instagram social experience is now more fun and lively.

    Currently for Android and launching on iOS soon.</h4>
  <!--</div>-->

  
  <div class="row">
    <div class="col-md-4"></div>
     <div class="col-md-4">
      <div class = "row-md-4"></div>
  <center><img src="{{ url_for('static', filename='phone2.png') }}" width = "260" height = "500"></center>
</div>
 <div class="col-md-4">
  
</div>
  
</div>
<br>
  <br>
    </div> <!-- /container -->
    </div> <!-- /containerFull -->
    <div class="containerFull" id="LinkHowWorks" style="background-color:#0969A2;">
    <div class="container">
  <br>
  <br>
  <h1>How to Play</h1>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-6">
          <h3><div id="dist-circle">1</div>Find a Photo</h3>
          <p>Browse through all your friends' photos from Instagram.</p>
        </div>
        </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h3><div id="dist-circle">2</div>Bet</h3>
          <p>Guess how many likes the picture will get.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <h3><div id="dist-circle">3</div>Win</h3>
          <p>Guess smartly and win big!</p>
        </div>
      </div>
      </div>
  <br>
  <br>
    </div> <!-- /container -->
    </div> <!-- /containerFull -->

    <div class="containerFull" style="background-color:#64A8D1;" id="About">
    <div class="container">
  <br>
  <br>
  <h1>The SocialBookies</h1>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-lg-4">
          <h3>John Daniels</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-lg-4">
          <h3>David Hao</h3>
        </div>
      </div>
      <div class = "row">
        <div class="col-md-4"></div>
        <div class="col-lg-4">
          <h3>John Chaiyasarikul</h3>
        </div>
      </div>
    </div>
  <br>
  <br>
    </div> <!-- /container -->
    </div> <!-- /containerFull -->

    <div class="container">
    <hr>
      <footer>
        <p>© Socialbookie 2014</p>
      </footer>
    </div> <!-- /container -->


    <div class="modal fade" id="FrmSignup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Sign up</h4>
        </div>
        <div class="modal-body">
    <p>We are currently developing the product, please sign up for our newsletter to stay updated.</p>

      <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://herokuapp.us3.list-manage.com/subscribe/post?u=692d07fd011862094f4139fa5&amp;id=d36773fbc1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <label for="mce-EMAIL">Subscribe to our mailing list</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_692d07fd011862094f4139fa5_d36773fbc1" value=""></div>
  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->

      <!--End mc_embed_signup-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/holder.js') }}"></script>
    <script src="{{ url_for('static', filename='js/transition.js') }}"></script>
<!-- End Of Analytics Code -->
</body></html>